Token and Credential endpoint inconsistencies with RFC001

Hi team,

I've encountered two issues while testing the token and credential endpoints that seem to conflict with the [EWC RFC001](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc001-issue-verifiable-credential.md).

---

###  Issue 1: `credential_identifiers` missing from Token response

I'm calling the token endpoint with:

grant_type=urn:ietf:params:oauth:grant-type:pre-authorized_code
pre-authorized_code=c23bdd31-ba52-43b9-9d6b-dfeaf0c64f48
tx_code=22951

Response received:

```json
{
  "access_token": "<REDACTED>",
  "authorization_details": [
    {
      "credential_configuration_id": "eu.europa.ec.eudi.pseudonym_over18_sd_jwt_vc",
      "type": "openid_credential"
    }
  ],
  "expires_in": 3600,
  "refresh_token": "<REDACTED>",
  "token_type": "Bearer"
}
```

According to [RFC001 §6.6 - Token Response](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc001-issue-verifiable-credential.md#66-token-response-token-endpoint):

> For `openid_credential` type, `authorization_details` MUST include:
> - `type`
> - `credential_configuration_id`
> - `credential_identifiers` (REQUIRED): Array of unique strings identifying the specific Credential Dataset instance(s) authorized by this token.

In this case, the credential_identifiers field is not present. Should this field be included in the token response, or is there a specific reason it might be omitted?


###  Issue 2: Credential endpoint returns `invalid_request` when using `credential_identifier`
I'm sending this request to the credential endpoint:

```json
{
  "proof": {
    "proof_type": "jwt",
    "jwt": "<REDACTED>"
  },
  "credential_identifier": "eu.europa.ec.eudi.pseudonym_over18_sd_jwt_vc"
}
```

The response is:

```json
{
  "error": "invalid_request",
  "error_description": "'credential_configuration_id'"
}
```

Per [RFC001 §6.7 - Credential Request](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc001-issue-verifiable-credential.md#67-credential-request-credential-endpoint):

> - `credential_identifier` is REQUIRED if received in the token response  
> - `credential_configuration_id` is REQUIRED if `credential_identifier` was not used  
> - These fields are mutually exclusive

Given that I'm providing credential_identifier (as would be expected following a token response with credential_identifiers), is the credential endpoint supposed to still require credential_configuration_id? Or could this indicate a potential issue in the validation logic?


Hello @bernatmj-vid, The token endpoint has not been updated to d15 yet. As for credential endpoint it only supports credential_configuration_id for now, not credential_identifier. You can see the support here: [support](https://github.com/eu-digital-identity-wallet/eudi-srv-web-issuing-eudiw-py?tab=readme-ov-file#openid4vci-coverage).
I have missed mentioning the lack of support for credential_identifier, will add a note on that to the table. 