JWK Coordinate Padding - coordinates are not always 32 bytes long

We are working in an environment where we use a **Reference Issuer** together with **FortID** as the holder.
The Verifiable Credential (VC) format is SD-JWT, and the Reference Issuer is `eudi-srv-web-issuing-eudiw-py` version 0.7.0.

## Context

During the credential issuance process, the holder sends its public key as a `JWK` for key binding purposes. The key has the following properties (**P-256**):
  
- `x`: "AEnqT7Oatx6yGzctZ7GyHUxPqQWiQdz_912uEEG4UV0"
- `y`: "iURTsWCd45A8N0pxg0mtt_QLuVjXzdOREgdRaCTY36o"

The issuance process completes successfully. However, in the resulting Verifiable Credential, the `x` coordinate appears modified.
Below is the claims section of the issued credential:

```
{
  "iss": "https://ref-issuer:9000",
  "iat": 1744156800,
  "exp": 1751932800,
  "vct": "urn:eu.europa.ec.eudi:pid:1",
  "cnf": {
    "jwk": {
      "kty": "EC",
      "crv": "P-256",
      "x": "SepPs5q3HrIbNy1nsbIdTE-pBaJB3P_3Xa4QQbhRXQ",
      "y": "iURTsWCd45A8N0pxg0mtt_QLuVjXzdOREgdRaCTY36o"
    }
  },
  "age_equal_or_over": {
    "18": false
  },
  "birthdate": "2025-01-01",
  "given_name": "Lead",
  "issuing_country": "FC",
  "family_name": "Meaa",
  "issuing_authority": "Test PID issuer"
}
```

## Problem

The `x` coordinate in the issued credential differs from the one provided by the holder.
Upon decoding and analyzing the values, it appears that the actual coordinate value is the same, but the leading zero bytes (padding) are not preserved in the issued credential.

According to RFC 7518, [Section 6.2.1.2](https://datatracker.ietf.org/doc/html/rfc7518#section-6.2.1.2), the `x` and `y` values of a JWK for the P-256 curve must each be exactly 32 bytes long. Any missing padding violates this requirement.

This issue is not consistently reproducible, as it only appears when the holder’s coordinate includes leading zeroes. When this happens, the issuer appears to drop the padding.

Greetings @dsantl-tbtl 
Thank you for bringing this to our attention!
I was able to reproduce this issue with your x and y coordinates and I have a fix for it already in testing.
There should be a PR soon to address it.